.recipes {
  $horzontal-padding: .75rem;
  $vertical-padding: .5rem;

  padding-bottom: $vertical-padding;
  padding-left: $horzontal-padding;
  padding-right: $horzontal-padding;
  padding-top: $vertical-padding;
}
